version: '3.8'
services:
  speedtest-tracker:
    container_name: speedtest-tracker
    image: lscr.io/linuxserver/speedtest-tracker:latest
    environment:
      - DB_CONNECTION=sqlite
      - APP_NAME=${SITE_NAME}
    networks:
      - devops-lab_docker_network
    ports:
      - "${HOST_LOCAL_IP}:8888:80"
    volumes:
      - "/root/docker-storage/speedtest-tracker/:/config"
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 500m

networks:
  devops-lab_docker_network:
    external: true