version: '3'

services:
  portainer-agent:
    container_name: portainer-agent
    image: portainer/agent:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - devops-lab_docker_network
    ports:
      - "${HOST_LOCAL_IP}:9001:9001"

networks:
  devops-lab_docker_network:
    external: true