version: '3'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - /root/docker-static/prometheus/:/etc/prometheus/
      - /root/docker-storage/prometheus/dynamic:/dynamic
      - /root/docker-storage/prometheus/data:/prometheus
    networks:
      - devops-lab_docker_network
    ports:
      - "${HOST_LOCAL_IP}:9091:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    networks:
      - devops-lab_docker_network
    volumes:
      - /root/docker-storage/grafana:/var/lib/grafana
    ports:
      - "${HOST_LOCAL_IP}:3030:3030"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_HTTP_PORT=3030
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_GENERIC_OAUTH_NAME=${GF_AUTH_GENERIC_OAUTH_NAME}
      - GF_AUTH_GENERIC_OAUTH_ENABLED=${GF_AUTH_GENERIC_OAUTH_ENABLED}
      - GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=${GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID=${GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
      - GF_AUTH_GENERIC_OAUTH_SCOPES=${GF_AUTH_GENERIC_OAUTH_SCOPES}
      - GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_NAME=${GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_NAME}
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL=${GF_AUTH_GENERIC_OAUTH_AUTH_URL}
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL=${GF_AUTH_GENERIC_OAUTH_TOKEN_URL}
      - GF_AUTH_GENERIC_OAUTH_API_URL=${GF_AUTH_GENERIC_OAUTH_API_URL}
      - GF_AUTH_GENERIC_OAUTH_TLS_SKIP_VERIFY_INSECURE=${GF_AUTH_GENERIC_OAUTH_TLS_SKIP_VERIFY_INSECURE}
      - GF_SERVER_ROOT_URL=${GF_SERVER_ROOT_URL}

  uptime:
    image: louislam/uptime-kuma:latest
    container_name: uptime
    restart: unless-stopped
    networks:
      - devops-lab_docker_network
    volumes:
      - /root/docker-storage/uptime:/app/data
    ports:
      - "${HOST_LOCAL_IP}:3001:3001"

networks:
  devops-lab_docker_network:
    external: true