http:
  routers:
    authentik:
      rule: Host(`auth.{{env "HOST_DOMAIN"}}`)
      entryPoints:
        - web
      middlewares:
        - "force_https"
        - "error_pages"
      service: authentik-service

    authentik-ssl:
      rule: Host(`auth.{{env "HOST_DOMAIN"}}`)
      service: authentik-service
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt-default-resolver
      middlewares:
        - "error_pages"
        - "internal_only"

  services:
    authentik-service:
      loadBalancer:
        servers:
          - url: "http://authentik-server:9000"