http:
  routers:
    pihole:
      rule: Host(`dns.{{env "HOST_DOMAIN"}}`)
      entryPoints:
        - web
      middlewares:
        - "force_https"
        - "error_pages"
      service: pihole-service

    pihole-ssl:
      rule: Host(`dns.{{env "HOST_DOMAIN"}}`)
      service: pihole-service
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt-default-resolver
      middlewares:
        - "error_pages"
        # - "internal_only"

  services:
    pihole-service:
      loadBalancer:
        servers:
          - url: "http://pihole:80"