services:

  traefik:
    container_name: traefik
    image: traefik:v3.4
    restart: unless-stopped
    command:
      - "--api.insecure=true"
    ports:
      - '80:80'
      - '443:443'
    environment:
      - TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL=${LETSENCRYPT_EMAIL}
      - HOST_IP=${HOST_IP}
      - HOST_DOMAIN=${HOST_DOMAIN}
    volumes:
      - /root/docker-static/traefik/traefik.yml:/etc/traefik/traefik.yml
      - /root/docker-storage/traefik/dynamic:/etc/traefik/dynamic
      - /root/docker-storage/traefik/letsencrypt:/letsencrypt
    networks:
      - devops-lab_docker_network
  
  error-pages:
    container_name: error-pages
    image: tarampampam/error-pages:3.3
    restart: unless-stopped
    environment:
      TEMPLATE_NAME: connection
    networks:
      - devops-lab_docker_network

networks:
  devops-lab_docker_network:
    external: true
